#lista123 
{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    background-color: #6CC3D5;
    position: fixed; 
}
  
  #lista123 ul 
{
    list-style-type: none;
    padding: 0; 
}
  
  #lista123 li 
{
    margin-bottom: 10px;
}
  
  input[type="text"],
  input[type="number"],
  button 
{
    display: block;
    margin-bottom: 10px;
    background-color: #FDB813;
}
  
  button 
{
    padding: 5px 10px;
    border-radius: 5px;
}
  #gastos123
{
  width: 20%;
  background-color: #FDB813;
  text-align: center;
  margin-top: 150px;
  border: 2px solid black;
  border-radius: 10px;
}
#titulomaneiro
{
  justify-content: center;
  display: flex;
}
#direitap {
  height: 40%;
  width: 12%;
  display: inline-block;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  text-align: center;
  margin-right: 40px;
}
#esquerdap {
  height: auto;
  width: 30%;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
  margin-right: 40px;
}
#all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  width: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #6CC3D5;
  margin-left: 10px;
}

.simulador {
  width: calc(50% - 5px);
}

button {
  display: block;
  background-color: #FDB813;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
#titulo{
  text-align: center;
  color: #FDB813;
  margin-left: 110px;
  margin-right: 110px;
  text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}
body
{
  font-family: sans-serif;
}