
main{
  font-family: sans-serif;
  justify-content: center;
  margin: 150px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.listaGastos{
  text-align: center;
  height: 640px;
    width: 300px;
   /* grid-template-columns: repeat(3, 1fr); */
    display: grid;
    margin: 10px auto;
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px #00000060;
    grid-template-rows: repeat(2,1fr);
}

  
  
  input[type="text"],
  input[type="number"],
  

  button 
{
  align-items: center;
    margin-bottom: 10px;
    background-color: #FDB813;
}

.comandos{
  display:grid;
}
.resultados{
  overflow: auto;
  display: grid;
 
}
  


button {
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  display: grid;
  background-color: #FDB813;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.grafico{
  align-items: center;
  align-content: center;
  justify-content: center;
}

.content {
  width: 900px;
  height: 600px;
  padding: 55px;
  
  
  text-align: center;
  background-color: #ffffff80;
  border-radius: 5px;
  box-shadow: 3px 3px 1px 0px #00000060;
  margin: auto auto;
  
}
 
#chartdiv{
  width: auto;
  height: 400px;
  margin-bottom: 5%;
}
#chartdiv h1{
  margin-bottom: 50px;
}
@media screen and (min-width:30px) and (max-width: 650px)
  {
    main {
      margin: 150px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .content{
      width: 80%;
      display: flex;
      justify-content: center;
    }
  
    .grafico {
      width: 100%;
      justify-content: center;
    }
  
    .listaGastos {
      width: auto;
      justify-content: center;
    }
  }
  @media screen and (min-width:651px) and (max-width: 860px)
  {
    main {
      margin: 150px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content{
      width: 80%;
      display: flex;
      justify-content: center;
    }
  
    .grafico {
      width: 100%;
      justify-content: center;
    }
  
    .listaGastos {
      width: auto;
      justify-content: center;
    }
  }
  @media screen and (min-width:861px) and (max-width: 1100px)
  {
    footer {
      background-color: #798897;
      padding: 20px 0px;
      text-align: center;
      bottom:auto;
      margin-top: 100px;
      position: absolute;
      width: 1300px;
      left: 0;
      right: 0;
    }
  }
  @media screen and (min-width:1101px) and (max-width: 1300px)
  {
    footer {
      background-color: #798897;
      padding: 20px 0px;
      text-align: center;
      bottom:auto;
      margin-top: 100px;
      position: absolute;
      width: 1500px;
      left: 0;
      right: 0;
    }
  }