main{
    font-family: sans-serif;
    justify-content: center;
    margin: 150px 40px;
    display: grid;
}

.dadosUsuario{
    
    height: 300px;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    background-color: #6CC3D5;
    margin: 10px auto;
    border-style: solid;
    border-color: #1a447e;
}

.dadosUsuario .texto {
    margin: auto 10px;
    color: black;
}

.dadosUsuario img{
    margin: auto 20px;
    height: 200px;
    width: 150px;
}

.funcionalidades{
    justify-content: center;
    
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    background-color: #6CC3D5;
    margin: 20px auto;
    color: black;
    border-style: solid;
    border-color: #1a447e;
}

.funcionalidades .dicas {
    align-items: center;
    width: 400px;
    height: auto;
    margin: 40px 90px;
}

.funcionalidades .limiteDiv {
    margin: 40px 90px;
}

.destaque {
    background-color: #eef06d;
    padding: 5px;
    margin: 10px 0;
    border-radius: 12px;
  }
