main{
    font-family: sans-serif;
    justify-content: center;
    margin: 150px 40px;
    display: grid;
}

.dadosUsuario{
    
    height: 300px;
    width: 600px;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    margin: 10px auto;
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}

.dadosUsuario .texto {
    margin: auto 10px;
    color: black;
}

.dadosUsuario img{
    margin: auto 20px;
    height: 200px;
    width: 170px;
}

.funcionalidades{
    justify-content: center;
    height: 400px;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    margin: 20px auto;
    color: black;
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
}

.funcionalidades .dicas {
    align-items: center;
    width: 400px;
    height: auto;
    margin: 40px 90px;
    overflow: auto;
}

.funcionalidades .limiteDiv {
    margin: 40px 90px;
}

.destaque {
    background-color: #eef06d;
    padding: 5px;
    margin: 10px 0;
    border-radius: 12px;
  }

   /* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

 