#lista {
    height: 600px;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
    background-color: #6CC3D5; 
  }
  
  #lista ul {
    list-style-type: none;
    padding: 0;
  }
  
  #lista li {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  button {
    display: block;
    margin-bottom: 10px;
    background-color: #FDB813;
  }
  
  button {
    padding: 5px 10px;
    border-radius: 5px;
  }