
main{
    font-family: sans-serif;
    justify-content: center;
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
  
  
  .content {
    width: 900px;
    height: 600px;
    padding: 55px;
    text-align: center;
    background-color: #ffffff80;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px #00000060;
    display: grid;
    grid-column: span 2

  }
   
  #chartdiv{
    width: auto;
    height: 400px;
    margin-bottom: 5%;
    display: grid;
  }
  
#warningDiv {
  display: none;
  background-color: #ff0404;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.listaRendas{
  text-align: center;
  height: 640px;
    width: 300px;
   /* grid-template-columns: repeat(3, 1fr); */
    display: grid;
    margin: 10px auto;
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px #00000060;
    grid-template-rows: repeat(2,1fr);
}

  
  
  input[type="text"],
  input[type="number"],
  

  button 
{
    margin-bottom: 10px;
    background-color: #FDB813;
}

.comandos{
  display:grid;
}
.resultados{
  overflow: auto;
  display: grid;
}
  


button {
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  display: grid;
  background-color: #FDB813;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.pin {
  background-color: yellow;
}
#pins {
  margin-top: 20px;
}

.calendarioDiv{
  height: 400px;
    width: auto;
    grid-template-columns: repeat(2, 1fr); 
    display: grid;
    margin: 10px auto;
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px #00000060;
    gap: 50px;
    margin-top: 50px;
    grid-column: span 2
}

.inputsCalendario{
  display: grid;
}

.btncalendario{
  display: flex;
}

#calendarContainer{
  overflow: auto;
}

@media (max-width: 1000px) {
  main{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 150px 0;
      align-items: ceneter;
      justify-content: center;
  }

  .calendarioDiv{
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }

  .content{
    display:none;
  }

  .listaRendas{display: block;}

}
